@charset "utf-8";
/* CSS Document */
[class*="Table"] {
	background-repeat: no-repeat;
	background-position-x: center;
	font-family: Arial, Helvetica, sans-serif;
	color: #E3C8AA;
	font-weight: normal;
	line-height: 100%;
	text-decoration: none;
	text-align: left;
	background-color: #080f23;
	margin: auto;
	width: 100%;
	height: 550px;
	border: 0;
	border-collapse: collapse;
	padding: 0;
}
/*@media (max-width: 600px) {*/
/*[class*="Table"] {*/
/*	width: 1000px;*/
/*}*/
/*}*/

.HomeTable {
	background-image: url(Images/homeTableBG.png);
}
.NewsTable {
	background-image: url(Images/newsTableBG.png);
}
.GuestsTable {
	background-image: url(Images/guestsTableBG.png);
}
.RegistrationTable {
	background-image: url(Images/registrationTableBG.png);
}
.AboutTable {
	background-image: url(Images/WhatISACTableBG.png);
}
.LocationTable {
	background-image: url(Images/locationTableBGs.png);
}
.FAQTable {
	background-image: url(Images/FAQTableBG.png);
}
.CharityTable {
	background-image: url(Images/charityTableBG.png);
}
.LocalEventsTable {
	background-image: url(Images/eventsTableBG.png);
}
.ContactsTable {
	background-image: url(Images/contactsTableBG.png);
}
.LinksTable {
	background-image: url(Images/linksTableBGs.png);
}
.policiesTable {
	background-image: url(Images/policiesTableBG.png);
}

body,td,th {
	font-family: Arial, Helvetica, sans-serif;
}
body {
	/*background-image: url(Images/Background.png);*/
	/*background-repeat: repeat-x;*/
	margin:0;
}
.content {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	text-align: left;
	vertical-align: top;
	margin: 8px;
	font-size: 18px;
}
.countdown {
	text-align: center;
	background-color: #1c9fbf;
	padding-top: 8px;
	padding-bottom: 8px;
}
.sponsors {
	background-color: #267185;
	color: #d0caca;
}
.sponsors table {
	margin: auto;
}
.sponsors img {
	height: 100px;
}
.sitemap {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	background-color: #4c687e;
	color: #ffffff;
	margin: auto;
	border: 0;
	text-align: left;
	display:block;
}
.sitemap table {
	margin: 0 auto;
}
.sitemap table td {
	font-size: 18px;
	padding: 8px 75px 8px 0;
	vertical-align: top;
}
@media (max-width: 600px) {
	.sitemap table td, tr {
		display: block;
	}
	.sitemap table td {
		position: relative;
		padding: 8px 0 8px 0;
	}
}
/*.FooterCell {*/
/*	background-image: url(Images/footerBar.png);*/
/*	background-repeat: no-repeat;*/
/*	font-family: Arial, Helvetica, sans-serif;*/
/*	font-weight: normal;*/
/*	color: #E9DFD5;*/
/*	text-align: left;*/
/*	text-indent: 800px;*/
/*	vertical-align: middle;*/
/*}*/
.footer {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
	background-color: #6e7c8b;
	color: #ffffff;
	margin: 0;
	border: 0;
	padding: 10px;
	text-align: left;
	display:block;
}
.footer::before {
	content: "© 2015 - 2023 ARMADACON"
}
a:link {
	color: #e3a271;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #e3a271;
}
a:hover {
	text-decoration: none;
	color: #e2d8cd;
}
a:active {
	text-decoration: none;
	color: #e2d8cd;
}
