@charset "utf-8";
/* CSS Document */
[class*="Table"] {
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	color: #E3C8AA;
	font-weight: normal;
	line-height: 100%;
	text-decoration: none;
	text-align: left;
	background-color: #FFF;
	margin: auto;
	width: 1000px;
	height: 751px;
	border: 0;
	border-collapse: collapse;
	padding: 0;
}

.HomeTable {
	background-image: url(Images/homeTableBG.png);
}

.NewsTable {
	background-image: url(Images/newsTableBG.png);
}

.GuestsTable {
	background-image: url(Images/guestsTableBG.png);
}

.RegistrationTable {
	background-image: url(Images/registrationTableBG.png);
}

.AboutTable {
	background-image: url(Images/WhatISACTableBG.png);
}

.LocationTable {
	background-image: url(Images/locationTableBGs.png);
}

.FAQTable {
	background-image: url(Images/FAQTableBG.png);
}

.CharityTable {
	background-image: url(Images/charityTableBG.png);
}

.LocalEventsTable {
	background-image: url(Images/eventsTableBG.png);
}

.ContactsTable {
	background-image: url(Images/contactsTableBG.png);
}

.LinksTable {
	background-image: url(Images/linksTableBGs.png);
}

.policiesTable {
	background-image: url(Images/policiesTableBG.png);
}
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
}
body {
	background-image: url(Images/Background.png);
	background-repeat: repeat-x;
	margin:0;
}
.body-text {
	margin: 8px;
}
.BodyText {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	text-align: left;
	vertical-align: top;
}
/*.FooterCell {*/
/*	background-image: url(Images/footerBar.png);*/
/*	background-repeat: no-repeat;*/
/*	font-family: Arial, Helvetica, sans-serif;*/
/*	font-weight: normal;*/
/*	color: #E9DFD5;*/
/*	text-align: left;*/
/*	text-indent: 800px;*/
/*	vertical-align: middle;*/
/*}*/
.footer {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	background-color: #6e7c8b;
	color: #ffffff;
	margin: 0;
	border: 0;
	padding: 10px;
	text-align: left;
	display:block;
}
.footer::before {
	content: "© 2015 - 2023 ARMADACON"
}
a:link {
	color: #e3a271;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #e3a271;
}
a:hover {
	text-decoration: none;
	color: #e2d8cd;
}
a:active {
	text-decoration: none;
	color: #e2d8cd;
}
