:root {
    --convention-dates-color: #b9c0c3;
    --convention-dates-shdaow-color: black;
    --social-media-icon-color: #e3a271;
    --social-media-icon-hover-color: #e2d8cd;
    --countdown-background-color: #1c9fbf40;
    --countdown-text-shadow-color: black;
    --content-color: black;
    --content-box-outline-color: black;
    --content-box-background-color: #ffd4c560;
    --content-box-background-hover-color: #f5e0d5;
    --feedback-button-color: white;
    --feedback-button-background-color: #297550;
    --feedback-button-hover-color: white;
    --feedback-button-background-hover-color: #36ab73;
    --feedback-button-visited-color: white;
    --price-list-border-color: #dddddd;
    --price-list-header-color: black;
    --price-list-header-background-color: #a9a9f1;
    --price-list-odd-background-color: white;
    --price-list-even-background-color: #f2f2f2;
    --form-open-button-color: white;
    --form-open-button-background-color: #297550;
    --form-popup-border-color: #f1f1f1;
    --form-container-background-color: white;
    --form-container-input-background-color: #f1f1f1;
    --form-container-input-focus-background-color: #dddddd;
    --form-container-button-color: white;
    --form-container-button-background-color: #04aa6d;
    --form-container-required-color: red;
    --form-container-cancel-background-color: red;
    --restaurant-table-header-background: #86bce5;
    --restaurant-table-even-background-color: #f2f2f2;
    --guest-image-caption-color: black;
    --guest-info-color: black;
    --links-table-background-color: #e8e8ff;
    --links-table-border-color: black;
    --sponsors-color: #d0caca;
    --sponsors-background-color: #267185;
    --sitemap-color: white;
    --sitemap-background-color: #4c687e;
    --book-launch-border-color: black;
    --footer-color: white;
    --footer-background-color: #6e7c8b;
    --link-visited: #0000ee;
    --link-hover: #7cc0c4;
}