.food-menu {
    text-align: center;
}

.food-menu-heading {
    font-weight: bold;
    font-size: x-large;
}

.food-menu-sub-heading {
    font-weight: bold;
    font-size: larger;
}

.food-menu ul {
    margin-top: 0;
}

.food-menu ul li {
    list-style: none;
    text-align: center;
}