:root {
    --primary: #7952b3;
    --secondary: #61428f;
    --disabled: #d0b5f6;
    --border-color: #dee2e6;
    --max-width: 1140px;
    --border-radius: 0.25rem;
    --button-text: #fff;
    --button-focus: 0 0 0 3px rgba(121, 82, 179, 0.25);
    --link-color: #7952b3;
    --text-main: #363636;
    --text-bright: #000;
    --body-bg-color: #f9fafb;
    --footer-bg-color: #fff;
    --form-bg-color: #fff;
    --input-text-color: #000;
    --input-text-disabled: #7a7a7a;
    --input-placeholder-color: #c2c2c2;
    --input-border-color: #ccc;
    --input-background-color: #fff;
    --input-disabled: #f5f5f5;
    --input-focus: 0 0 0 3px rgba(121, 82, 179, 0.25);
    --error: #dc3545;
    --success: #198754;
    --warning: #664d03;
    --info: #0c5460;
    --alert-error-bg: #f8d7da;
    --alert-warning-bg: #fff3cd;
    --alert-success-bg: #d4edda;
    --alert-info-bg: #d1ecf1;
    --member-list-border-color: #000000;
    --cancel-bg: #dc3545;
    --cancel-bg-focus: #A62835FF;
    --submit-bg: #198754;
    --submit-bg-focus: #105a3a;
    --uid-list: #303030;
    --multipass-text: #7d312b;
    --registration-card-background: #fff1db;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    line-height: 1.25;
    background-color: var(--body-bg-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--text-main)
}

.login-form label {
    display: inline-block;
    vertical-align: top;
    width: 100%
}

.member-form label {
    display: inline-block;
    vertical-align: top;
}

.login-form form > div > label, .email-label {
    width: auto;
    cursor: pointer;
    display: inline-block;
    position: relative;
    border-radius: var(--border-radius)
}

.login-form input, select {
    background-color: var(--input-background-color);
    color: var(--input-text-color);
    border: 1px solid var(--input-border-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    display: inline-block;
    padding: .5rem .75rem;
    width: 100%;
    font-family: inherit;
    font-size: 1rem;
    margin-bottom: .5rem;
}

.member-form input {
    background-color: var(--input-background-color);
    color: var(--input-text-color);
    border: 1px solid var(--input-border-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    display: inline-block;
    padding: .5rem .75rem;
    /*width: 100%;*/
    font-family: inherit;
    font-size: 1rem;
    margin-bottom: .5rem;
}

input::placeholder {
    color: var(--input-placeholder-color)
}

input:focus {
    outline: 0;
    box-shadow: var(--input-focus)
}

button {
    display: inline-block;
    background: var(--primary);
    color: var(--button-text);
    border: 1px solid var(--primary);
    border-radius: var(--border-radius);
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    padding: .5em .75em;
    min-width: 10ch;
    user-select: none;
    font-style: normal;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button:hover {
    background: var(--secondary);
    border-color: var(--border-color);
    cursor: pointer
}

button:focus {
    outline: 0;
    color: var(--button-text);
    background-color: var(--secondary);
    border-color: var(--border-color);
    box-shadow: var(--button-focus)
}

button:disabled {
    background-color: var(--disabled);
    border-color: var(--disabled);
    cursor: not-allowed;
}

button[type=button] {
    background-color: #fff;
    color: var(--primary);
    border-color: var(--primary)
}

button[type=button]:hover {
    background: var(--secondary);
    color: var(--button-text);
    cursor: pointer
}

.cancel {
    color: var(--button-text);
    background-color: var(--cancel-bg);
    border-color: var(--cancel-bg);
}

.cancel:hover {
    background-color: var(--cancel-bg-focus);
}

.submit {
    color: var(--button-text);
    background-color: var(--submit-bg);
    border-color: var(--submit-bg);
}

.submit:hover {
    background-color: var(--submit-bg-focus);
}

.widebutton {
    width: 100%;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

/*.........*/

.login-error {
    width: 400px;
    margin: 10px auto;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    background-color: var(--alert-error-bg);
    color: var(--error);
}

.login-instructions {
    width: 400px;
    margin: 10px auto;
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;
}

.login-form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}
