@charset "utf-8";
@import "/css/colors.css";
/* CSS Document */

body {
	margin:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
    background-position: 0 -1px;
    background-size: 100%;
    background-repeat: no-repeat;
	background-attachment: fixed;
}
.headerFrame {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	padding: 0;
	margin-top: 10px;
}
.headerFrame tr, .headerFrame td {
	/*border: 1px solid red;*/
	border-spacing: 0;
	border-collapse: collapse;
	padding: 0;
}
#shieldImg {
	text-align: center;
}
#shieldImg img {
	margin-left: 20px;
}
#bannerContainer {
    background-color: #00000040;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
#bannerImg {
    margin: 0 auto 0;
	width: 588px;
}
#conventionDates {
    color: var(--convention-dates-color);
    font-size: xx-large;
    width: fit-content;
    margin-left: auto;
    margin-right: 0;
    text-shadow: 2px 2px var(--convention-dates-shdaow-color);
}
.social-media-icons {
	text-align: center;
}
.social-media-icons img {
	width: 36px;
	height: 37px;
	border: 3px solid;
}
.social-media-icons a:link, .sitemap a:link {
	color: var(--social-media-icon-color);
}
.social-media-icons a:visited, .sitemap a:visited {
	color: var(--social-media-icon-color);
}
.social-media-icons a:hover, .sitemap a:hover {
	color: var(--social-media-icon-hover-color);
}
.social-media-icons a:active, .sitemap a:active {
	color: var(--social-media-icon-hover-color);
}
.countdown {
	text-align: center;
	background-color: var(--countdown-background-color);
	padding: 8px 10px;
	font-size: larger;
    text-shadow: 2px 2px var(--countdown-text-shadow-color);
}

@media (max-width: 600px) {
    body {
    }
    .headerFrame td, .headerFrame tr {
		display: block;
    }
	#shieldImg {
		height: 0;
	}
    #shieldImg img {
        visibility: hidden;
    }
    #bannerContainer {
        margin-right: auto;
    }
    #bannerImg {
        width: 300px;
    }
    #conventionDates {
        font-size: large;
        margin-right: auto;
    }
	.social-media-icons {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		padding: 0;
	}
	.social-media-icons img {
		width: 25px;
		height: 26px;
	}
    .countdown {
        font-size: large;
    }
}



.page-title {
	display: block;
	font-size: 2em;
	margin-top: 0;
	padding-top: 16px;
	font-weight: bold;
	text-align: center;
}
.content {
	font-family: Arial, Helvetica, sans-serif;
	color: var(--content-color);
	text-align: left;
	vertical-align: top;
	margin-top: 0;
	padding: 8px 16px;
	font-size: 16px;
	background-image: linear-gradient(#ffffff80, #ffffffff 40%)
}
@media (max-width: 600px) {
	.content {
		background-image: linear-gradient(#ffffffb0, #ffffffff 5%)
	}
}
.content h3 {
	padding-bottom: 0;
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 5px;
}
.content p {
	margin-top: 0;
}
.content-box {
	margin: 8px;
	border-radius: 15px;
	padding: 20px;
	border: 2px solid var(--content-box-outline-color);
	/*background-color: #fff3ee;*/
	background-color: var(--content-box-background-color);
    box-shadow: none;
}
.content-box:hover {
    background-color: var(--content-box-background-hover-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.feedback-button {
	background-color: var(--feedback-button-background-color);
	color: var(--feedback-button-color);
	padding: 8px 10px;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	border-radius: 25px;
}
.feedback-button:hover {
	color: var(--feedback-button-hover-color);
	background-color: var(--feedback-button-background-hover-color);
}
.feedback-button:visited {
	color: var(--feedback-button-visited-color);
}

.table-title {
	text-align: center;
	font-weight: bold;
	font-size: larger;
}

.price-list-row {
	display: flex;
	margin-left: -5px;
	margin-right: -5px;
	margin-bottom: 10px;
}
.price-list-column {
	flex: 50%;
	padding: 5px;
}
.price-list {
	/*margin: auto auto 16px auto;*/
	margin: auto;
	/*width: 100%;*/
	border-collapse: collapse;
	/*table-layout: fixed;*/
}
.price-list td, .price-list th {
	border: 1px solid var(--price-list-border-color);
	padding: 8px;
}
.price-list th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: var(--price-list-header-background-color);
	color: var(--price-list-header-color);
}
.price-list tr:nth-child(odd) {
	background-color: var(--price-list-odd-background-color);
}
.price-list tr:nth-child(even) {
	background-color: var(--price-list-even-background-color);
}
.price-list-change-text {
	text-align: center;
}

/* Popup form - hidden by default */
.no-scroll {
	overflow: hidden;
}
.form-open-button {
	background-color: var(--form-open-button-background-color);
	color: var(--form-open-button-color);
	margin-bottom: 8px;
	padding: 10px;
	border: none;
	cursor: pointer;
	text-align: center;
	width: 280px;
	border-radius: 25px;
}
.form-open-button a {
	color: var(--form-open-button-color);
	text-decoration: none;
}
.form-open-button a:visited {
	color: var(--form-open-button-color);
	text-decoration: none;
}
.form-open-button:hover {
	background-color: var(--form-open-button-background-hover-color);
}
.screen-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 5;
}
.form-popup {
	margin: 0 auto;
	position: fixed;
	width: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 3px solid var(--form-popup-border-color);
	overflow: auto;
}
.form-container {
	padding: 10px;
	background-color: var(--form-container-background-color);
}
.form-container input[type=text], .form-container input[type=email], .form-container select {
	width: 100%;
	padding-top: 4px;
	padding-bottom: 4px;
	margin: 5px 0 15px 0;
	border: none;
	background: var(--form-container-input-background-color);
}
/*.form-container input[type=checkbox] {*/
/*	padding-bottom: 8px;*/
/*	margin: 5px 0 15px 0;*/
/*}*/
.form-container input[type=text]:focus, .form-container input[type=email]:focus, .form-container select:focus {
	background-color: var(--form-container-input-focus-background-color);
	outline: none;
}
.form-container .btn {
	background-color: var(--form-container-button-background-color);
	color: var(--form-container-button-color);
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	margin-bottom: 10px;
	opacity: 0.8;
}
.req {
	/*vertical-align: super;*/
	color: var(--form-container-required-color);
}
.form-container .cancel {
	background-color: var(--form-container-cancel-background-color);
}
.form-container .btn:hover, .form-open-button:hover {
	opacity: 1;
}

.restaurant-table {
	margin-bottom: 8px;
}
@media (min-width: 600px) {
	.restaurant-table {
		margin-left: 20px;
		width: 60%;
	}
}
.restaurant-table th {
	background-color: var(--restaurant-table-header-background);
}
.restaurant-table tr:nth-child(even) {
	background-color: var(--restaurant-table-even-background-color);
}
.restaurant-logo {
	width: 50px;
}
.restaurant-logo img {
	width: 50px;
}

.guest-fragment-table {
	border: none;
	width: 80%;
	margin-left: auto;
	padding-bottom: 10px;
}

.guest-fragment-cell {
	text-align: center;
	vertical-align: bottom;
}

.guest-fragment-image {
	width: 150px;
	height: auto;
}

.guest-fragment-name {
	text-align: center;
}

.guest-table {
	border: none;
	/*margin: auto;*/
}
.guest-image {
	/*width: 50%;*/
	text-align: center;
	/*padding: 24px 0 0 16px;*/
	font-size: 2em;
	font-weight: bold;
}
.guest-image img {
	width: 224px;
	height: auto;
}
.guest-image figcaption {
	color: var(--guest-image-caption-color);
	font-size: 8pt;
	margin-top: 0;
	padding-top: 0;
}
.guest-info {
	font-family: Arial, Helvetica, sans-serif;
	color: var(--guest-info-color);
	text-align: left;
	vertical-align: center;
	font-size: 20px;
}
@media (min-width: 601px) {
	.guest-fragment-table {
		margin-right: auto;
	}
}
@media (max-width: 600px) {
	.guest-fragment-table, .guest-fragment-cell, .guest-fragment-image, .guest-fragment-name {
		display: block;
		text-align: center;
	}
	/*.guest-fragment-table {*/
	/*	margin-left: auto;*/
	/*}*/
	.guest-fragment-cell, .guest-fragment-image, .guest-fragment-name {
		position: relative;
		text-align: center;
		line-height: .5;
		padding-bottom: 10px;
	}
	.guest-fragment-image {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.guest-table, .guest-image, .guest-info {
		display: block;
		text-align: center;
	}
	.guest-image, .guest-info {
		position: relative;
		/*padding: 8px 0 8px 0;*/
		text-align: center;
		margin: auto;
	}
}

/*.faq-section {*/
/*	margin-top: 8px;*/
/*	!*background: linear-gradient(180deg, rgba(167,206,233,1) 0%, rgba(167,206,233,0) 100%);*!*/
/*	border-top: black;*/
/*	border-top-style: solid;*/
/*	border-top-width: thin;*/
/*}*/
.faq-section-title {
	font-size: x-large;
	font-weight: bold;
	text-align: center;
	/*margin-top: 8px;*/
}
.faq-question {
	font-size: large;
	font-weight: bold;
	margin-top: 8px;
}
.faq-answer {
}

.links-table {
	border-collapse: collapse;
	width: 80%;
	margin: auto;
}
.links-table tr {
	background-color: var(--links-table-background-color);
}
.links-table td {
	text-align: center;
	vertical-align: middle;
	padding: 8px;
	border-color: var(--links-table-border-color);
	border-style: solid;
	border-width: thin;
}

.sponsors {
	background-color: var(--sponsors-background-color);
	color: var(--sponsors-color);
}
.sponsors table {
	margin: auto;
}
.sponsors img {
	height: 100px;
}
.sitemap {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	background-color: var(--sitemap-background-color);
	color: var(--sitemap-color);
	margin: auto;
	border: 0;
	text-align: left;
	display:block;
}
.sitemap table {
	margin: 0 auto;
}
.sitemap table td {
	/*font-size: 16px;*/
	padding: 8px 75px 8px 0;
	vertical-align: top;
}
@media (max-width: 600px) {
	.sitemap table td, .sitemap table tr {
		display: block;
	}
	.sitemap table td {
		position: relative;
		padding: 8px 0 8px 0;
	}
}

.book-launch {
	border-collapse: collapse;
}
.book-launch tr {
	padding: 20px;
	border: 1px solid var(--book-launch-border-color);
}
.book-launch td {
	padding: 10px 15px 10px 15px;
}
.book-launch img {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.book-launch-title {
	font-style: italic;
	font-weight: bold;
	font-size: x-large;
}
.book-launch-author {
	font-weight: bold;
	margin-bottom: 20px;
	font-size: large;
}
.book-launch-description {
}
@media (max-width: 600px) {
	.book-launch td, .book-launch tr {
		display: block;
	}
	.book-launch td {
		position: relative;
		padding: 8px 0 8px 0;
	}
}

.programme-day-title {
	text-align: center;
	font-weight: bold;
	font-size: xx-large;
}
.programme-slot-title {
	margin-top: 10px;
	font-weight: bold;
	font-size: large;
}
.programme-slot-description {
	margin-left: 20px;
	font-size: medium;
}
.programme-note {
	margin-top: 10px;
	font-size: small;
}

/*.FooterCell {*/
/*	background-image: url(Images/footerBar.png);*/
/*	background-repeat: no-repeat;*/
/*	font-family: Arial, Helvetica, sans-serif;*/
/*	font-weight: normal;*/
/*	color: #E9DFD5;*/
/*	text-align: left;*/
/*	text-indent: 800px;*/
/*	vertical-align: middle;*/
/*}*/
.footer {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
	background-color: var(--footer-background-color);
	color: var(--footer-color);
	margin: 0;
	border: 0;
	padding: 10px;
	text-align: left;
	display:block;
}
a {
	text-decoration: none;
}
a:visited {
	color: var(--link-visited);
}
a:hover {
	color: var(--link-hover);
}
